<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create a post</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>

    <!-- Materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Quill.js API text editor-->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="../css/create_post.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js" defer></script>
    <script src="../js/create_post.js" defer></script>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/login" class="brand-logo" id="logo"><img src="../images/Logo.jpeg" width="80" /></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i
                        class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/">Update Profile</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/">Update Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </header>

    <div class="container">
        <div class="row">
            <h3 class="center-align">Create Job Post</h3>
        </div>

        <div class="row">
            <form class="col s12" id="createPostForm">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="title" placeholder="Enter the post title" type="text" class="validate">
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select id="industry">
                            <option value="" disabled selected>Choose your option</option>
                            {{#each industry_list_data}}
                                <option value="{{Industry}}">{{Industry}}</option>
                            {{/each}}
                        </select>
                        <label>Industry</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <select id="city">
                            <option value="" disabled selected>Choose your option</option>
                            {{#each city_data}}
                                <option value="{{city}}">{{city}}</option>
                            {{/each}}
                        </select>
                        <label>City</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <select id="province">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="Alberta">Alberta</option>
                            <option value="British Columbia">British Columbia</option>
                            <option value="Manitoba">Manitoba</option>
                            <option value="New Brunswick">New Brunswick</option>
                            <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                            <option value="Nova Scotia">Nova Scotia</option>
                            <option value="Ontario">Ontario</option>
                            <option value="Prince Edward Island">Prince Edward Island</option>
                            <option value="Quebec">Quebec</option>
                            <option value="Saskatchewan">Saskatchewan</option>
                            <option value="Northwest Territories">Northwest Territories</option>
                            <option value="Nunavut">Nunavut</option>
                            <option value="Yukon">Yukon</option>
                        </select>
                        <label>Province</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <p style="color: #9e9e9e; font-size: 12px;">Description</p>
                        <div id="content-container">
                            <div id="editor"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="contactEmail" type="email" class="validate" required>
                        <label for="contactEmail">Email</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="phone" type="number" class="validate" required>
                        <label for="phone">Phone number</label>
                    </div>
                </div>
                <div class="row center-align">
                    <button id="submitBtn" class="btn waves-effect waves-light" style="background-color: #B794F4;" type="submit"
                        name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>

</body>