nav{
    background-color: rgb(140, 4, 168);
    height: 80px;
    line-height: 80px;
}

#logo{
    padding-left: 30px;
}

h3{
    color: rgb(140, 4, 168);
}

#editor {
    height: 300px;
}

.ql-editor strong{
    font-weight:bold;
}
