nav{
    background-color: rgb(140, 4, 168);
}

#logo{
    padding-left: 20px;
}

h3{
    color: rgb(140, 4, 168);
}

#searchBtn{
    background-color: #B794F4;
}

#postList li{
    background-color: #f3e5f5;
    padding-left: 15px;
}

.btnRow{
    padding-top: 20px;
}

textarea{
    resize: none;
    height: 300px;
}