nav{
    background-color: rgb(140, 4, 168);
    height: 80px;
    line-height: 80px;
}

#logo{
    padding-left: 30px;
}

h3{
    color:  rgb(140, 4, 168);
}

#profilePic{
    margin-top: 30px;
}

 /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #B794F4;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #B794F4;
    box-shadow: 0 1px 0 0#B794F4;
  }