nav{
    background-color: rgb(140, 4, 168);
    height: 80px;
    line-height: 80px;
}

#logo{
    padding-left: 30px;
}

#logoFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#searchCol{
    padding: 0px 20px;
    height: 170vh;
}

#searchCol h5{
    padding-top: 20px;
}

.searchRow{
    margin: 0px;
}

.detailRow{
    padding: 0px 20px;
}

#details{
    padding: 0px 10px;
    border: 2px dashed rgb(148, 93, 199);
}

#details .row{
    padding: 0 20px;
    word-wrap: break-word;
}

#applyDiv{
    padding: 0 10px;
}

.icon{
    padding-top: 10px;
    font-size: 40px;
}

#currentTitle{
    font-size: 22px;
    margin: 0px;
    padding: 20px 20px 0px 0px;
    word-wrap: break-word;
}

.heading{
    font-weight: bold;
}

  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #B794F4;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #B794F4;
    box-shadow: 0 1px 0 0#B794F4;
  }

  @media only screen and (max-width: 768px) {
    #searchCol{
        padding: 0px 20px;
        height: 100%;
    }
  }