
@charset "UTF-8";
/****************GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



/****************************LAYOUT*/
#container {
	width:80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:20px;
}

#mainHeader {
	height: 100px;
	background-color:#8C04A8;
	position: fixed;
	width: 100%;
	left:0;
	top:0;
	z-index: 10;
	box-shadow: 0 0 12px rgba(0,0,0,0.5);
}

#logo {
    width:160px;
    height: 100px;
}
/*******************SLICKNAV*/
#mainNav {
    padding: 30px 30px 0 0;
    font-family: 'Quicksand', sans-serif;
}

#mainNav li {
	display: inline;
	color: #FFF;
}

#mainNav li:last-child {
	border-right:none;
}

#mainNav li a {
    padding:10px 10px;
	color:#FFF;
}
#mainNav li a:hover {
    background-color: #FFF;
	color: #8C04A8;
}
.current {
	background-color: rgb(181, 178, 185);
	color: #8C04A8;
	outline:none;
}

#home, #signIn, #jobPosting, #industry {
	padding-top:120px;
	position: relative;
}

#home {
	height:30vh;
	z-index: 1;
	background-color: #FFF;
	/* background-position: right bottom;
	background-size:cover;
	background-attachment:fixed; */
}

#home h1{
    text-align: center;
    color: #8C04A8;
	font-size:48px;
	/* text-transform: uppercase; */
	margin:20px 0;
}

#home h2{
    text-align: center;
    color:#7E4EAC;
	font-size:36px;
}

#bars {
	height:60vh;
	z-index: 1;
	background-color: #FFF;
	/* background-position: right bottom;
	background-size:cover;
	background-attachment:fixed; */
}

#footer {
	/* height:30vh; */
	z-index: 1;
	background-color:#EADEFF;
	background-position: right bottom;
	background-size:cover;
    background-attachment:fixed;
    text-align: center;
    padding: 40px 10px;
    font-family: 'Quicksand', sans-serif;
}

/******************************SEARCH BARS*/
.search {
	width: 100%;
	position: relative;
	display: flex;
  }
  
.searchTerm {
	width: 100%;
	border: 3px solid #00B4CC;
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
  }
  
.searchTerm:focus{
	color: #00B4CC;
  }
  
.searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid #00B4CC;
	background: #00B4CC;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
  }
  

  /*Resize the wrap to see the search bar change!*/
.wrap {
	width: 30%;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

.button {
  background-color: #00B4CC;
  border: none;
  border-radius: 12px;
  color:#FFF;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;

}


/******************************ABOUT US SECTION*/
.hiring {
	width:350px;
    height: 290px;
    text-align: right;
    text-shadow: 3px 2px #FFF;
    line-height: 250px;
    margin-bottom:5px;
    background-image: url(../images/hiring.jpg);
    background-repeat:no-repeat; 
    background-position:center bottom;
	background-size:cover;
}

.industry {
	width:350px;
    height: 290px;
    text-align: center;
	text-shadow: 3px 2px #FFF;
    line-height: 250px;
    margin-bottom:5px;
    background-image: url(../images/industry.jpg);
    background-repeat:no-repeat; 
    background-position:center center;
    background-size:cover;
}
.heading2 {
	color:#7E4EAC;
	font-size:36px;
	text-align: end;
}

.heading3 {
	color:#8C04A8;
	font-size:36px;
	font-family: 'Quicksand', sans-serif;
}

.aboutpage {
	background-color: rgb(221, 200, 236);
}

.intro {
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	color:rgb(94, 67, 126);
}


/*******************************COLUMNS*/
.col13 {width:29.33%;}
.col23 {width:62.66%;}
.col33 {width:96%;}

.col13, .col23, .col33 {
	margin: 1%;
	padding: 1%;
}
.fl {float: left;}
.fr {float: right;}
.clear {clear:both;}

/****************************RESPONSIVE*/
.responsive {
    width:100%;
    height:auto;
}


/***********************************MEDIA QUERIES*/

/******************************************TABLET*/

/******************************************MOBILE*/